* {
    margin: 0;
    padding: 0;
}

.application {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    font-family: "Lato", sans-serif;
}

.block {
    width: 1200px;
    height: 600px;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.photographer {
    padding-top: 30px;

    &__info {
        font-size: 25px;

        &__name {
            font-size: 30px;
        }
    }
}

.likes {
    padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 40px;

    &__button {
        border: none;
        background: none;
        cursor: pointer;

        &__block {
            width: 50px;
            height: 50px;
            box-sizing: border-box;

            &__herz {
                width: 100%;
                height: 100%;
                fill: red;

                &:hover {
                    fill: darkred;
                }

                &:active {
                    fill: orangered;
                }
            }
        }
    }

    &__count {
        font-size: 30px;
    } 
}

.history {
    padding-top: 30px;
    padding-bottom: 30px;
    
    &__name {
        padding-bottom: 30px;
        &__p{
            font-size: 20px;
        }
    }

    &__block {
        padding: 20px 20px 20px;
        border: 2px solid yellowgreen;
        border-radius: 10px;
        width: 400px;
        cursor: pointer;

        &__data {
            font-size: 20px;
        }

        &__photographer {
            font-size: 20px
        }

        &__likes {
            padding-top: 10px;
            display: flex;
            gap: 30px;

            &__image {
                width: 20px;
                height: 20px;

                &__svg {
                    fill: red;
                }
            }
        }
    }
}

.history__render {
    width: 820px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}